* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #2196f3;
    justify-content: center;
    display: flex;
    align-items: center;
    color: black;
    height: 128px;
    padding: 10px;


}