:root {
    --intense: #292f63;
    --summer: #428dc6;
    --just-vibe: #53b2d4;
    --cloro: #aae5f2;
    --smooth: #d2eff7;
    --white: #ffffff;
    --error: #ff4d4d;
    --font-type: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-type);
}

.sidebar-container {
    position: fixed;
    width: 200px;
    height: 100vh;
    z-index: 1000;
    justify-content: center;
}

.sidebar-btn-wrapper {
    cursor: pointer;
    transition: all 0.3s;
}

.sidebar-btn-wrapper:hover {
    background-color: var(--just-vibe) !important;
}

.pro-sidebar-inner {
    height: 100vh !important;
}

.pro-sidebar {
    height: 100% !important;
}

.hQSxZz {
    display: flex;
    justify-content: center;
}

.hQSxZz toggled {
    margin-left: 5%;
    margin-right: 5%
}

.gmeTLe {
    padding: 8px 2px 8px 2px !important;
}